<div class="container">
    <mat-card style="width: 500px; margin-bottom: 2em;" class="post-card">
    <div class="postForm">
            <mat-form-field appearance="fill">
                <mat-label>Say something...</mat-label>
                <textarea matInput cols="30" rows="5"></textarea>
            </mat-form-field>
            <mat-form-field>
                <ngx-mat-file-input 
                placeholder="upload image" 
                (change)="onFileSelected($event)"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
            <button mat-raised-button color = "primary"
            (click) = "post()">Post</button>
    </div>
    </mat-card>



    <mat-card style="width: 500px;" class="post-card">
        <mat-card-header style="margin-bottom: 1em;">
            <img src="https://images.unsplash.com/photo-1574158622682-e40e69881006?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                alt="" mat-card-avatar>
            <mat-card-title>Card Title</mat-card-title>
            <mat-card-subtitle>card subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80"
                alt="" mat-card-image>
            <p>This is the content section.</p>
        </mat-card-content>





        <mat-card-footer style="padding-right: 2em;">
            <mat-card-actions align='end'>
                <button mat-raised-button>Like</button>
                <button mat-raised-button>Like</button>
            </mat-card-actions>

        </mat-card-footer>
    </mat-card>
</div>